@model ListFlairViewModel

<div id="flairs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
               
                <ul class="nav nav-tabs" role="tablist"> 
                    <li role="presentation" class="pull-right"><button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
                    Flair 
                </ul>
                                                                                     
                    <div id="DivListOfflair"></div>
                
            </div>
        </div>
    </div>
</div>